.matchHistory {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 12px;

  background-color: rgb(40, 52, 78);
  border: 1px solid red;
}

/* GAME */
  .game {
    display: flex;

    flex-direction: column;
    justify-content: center;

    font-size: 12px;
  }

  .type, .result {
    font-weight: bold;
  }

/* INFO */
  .info {

  }

  .champion {
    display: flex;
    align-items: center;
  }

  .icon {
    position: relative;
  }

  .level {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0;

    color: white;
    background: rgb(32, 45, 55);
    border-radius: 50%;

    width: 20px;
    height: 20px;

    font-size: 12px;
  }

  .spells, .runes {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
  }

  .spell > img {
    border-radius: 4px;
  }

  .rune > img {
    border-radius: 50%;
  }

  .runes > :nth-child(1) > img {
    background-color: black;
  }

  .champion > .icon > img {
    display: block;
    border-radius: 50%;
  }

/* PARTICIPANTS */