.matchHistory-large {
  display: grid;
  grid-template-columns: 18% 30% 18% minmax(124px,31%) 18px;
}

.row-1, .row-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-2 {
  font-size: 18px;
  font-weight: 700;
}

.row-3 {
  display: flex;
  justify-content: center;
}
