

.matchHistory {
  --lost: linear-gradient(0deg,rgba(255,78,80,.16),rgba(255,78,80,.16));
  --win: linear-gradient(0deg,rgba(50,115,250,.2),rgba(50,115,250,.2));

  padding: 6px 8px;
  background: var(--lost);
  border-radius: 5px;
}

.matchResult {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.matchType {
  display: flex;
  gap: 5px;
}

.matchDetails {
  display: flex;
  justify-content: space-between;
}

.matchStats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.champDetails {
  display: flex;
  gap: 5px;
}

.champIcon {
  height: 52px;
  width: 52px;
  border-radius: 2px;
}

.champSums, .champRunes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.champSum, .champRune {
  width: 22px;
  height: 22px;
  border-radius: 2px;
}

.items {
  display: flex;
  gap: 4px;
}

.item, .item-container {
  border-radius: 2px;
}

.item-container {
  width: 18px;
  height: 18px;
  background-color: #223b80;
}

.item {
  width: 18px;
  height: 18px;
}

.KDA-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 11px;
  width: 100%;
}

.deaths {
  color: red;
}

.cs-total {
  font-weight: bold;
  color: white;
}