.container {
  --max-width: 1000px;
  --margin: 1rem;

  width: min(var(--max-width), 100% - var(--margin) * 2);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 11px;  
  grid-template-columns: 1fr;
  margin-top: 20px;
}

@media (min-width: 899px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 2fr;
  }
}

.overview-side {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.overview-side > * {
  border-radius: 4px;
  background-color: var(--clr-dark-200);
  padding: 14px;
}

.overview-main {
  display: flex;
  flex-direction: column;
}

.ranked-container {
  font-size: 14px;
}

.ranked-content {
  display: flex;
  gap: 11px;
}

.rank-img {
  width: 54px;
  height: 54px;
}

.ranked-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 100%;
}

.rank-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rank-wins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.champion-stats {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.champion-stats-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  font-size: 15px;
}

.matches {
  display: flex;
  flex-direction: column;
  gap: 10px;
}