.content-header {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.profile {
  display: flex;
  background-color: rgb(49, 49, 60);
}

.profile-icon {
  width: 100px;
  height: 100px;
  margin-top: 32px;
}

.profile-icon > img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.profile-info {
  margin-left: 35px;
}

.profile-seasons {
  display: flex;
}

.profile-seasons > .profile-season:not(:first-child) {
  margin-left: 5px;
}

.profile-season {
  background-color: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
  width: 100px;
  font-size: 11px;
  color: rgb(150, 150, 150);
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-template-rows: minmax(10px, 1fr);
  grid-gap: 20px;
  padding: 20px;

  height: 100%;
  width: 1080px;

  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  color: black;
  text-align: center;
}

.inner-grid-left {
  display: grid;
  grid-template-columns: minmax(10px, 1fr);
  grid-template-rows: repeat(5, minmax(100px, auto));

  grid-row-gap: 5px;

  grid-row: 1 / 2;
  grid-column: 1 / 2;

  align-self: start;

  color: white;
}

.grid-item-left {
  border: 1px solid red;
  background-color: rgb(49, 49, 60);
}

.inner-grid-right {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 65px 160px;
  grid-auto-rows: 100px;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}