:root {
  --ff-primary: 'Roboto Slab', serif;
  --ff-secondary: 'Neuton', serif;

  --fw-normal: 400;
  --fw-bold: 700;

  --clr-primary: #8EF2FF;
  --clr-secondary: #E36E40;
  --clr-light: #FFF;
  --clr-dark: #161819;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  line-height: 1.5;
}

body, h1, h2, h3, p {
  margin: 0;
  background-color: var(--clr-dark);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul, li {
  padding: 0;
  margin: 0;
}